@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv-teste.png");
}

audio#musica {
    display: block;
    position: relative;
    left: 540px;
    top: 480px;
    width: 290px;
}

video#filme {
    display: block;
    position: relative;
    left: 73px;
    top: 15px;
    width: 430px;
}